@import url(http://fonts.googleapis.com/css?family=Singlet);

h1{
	font-family: 'Sniglet', cursive;
	font-size: 64px

}

h2{
	font-family: 'Sniglet', cursive;
	font-size: 30px
	
}
body{
	background: url('sativa.png');
}
